@charset "utf-8";
/* CSS Document - Main Stylesheet - main.css */
/* Thad Seaver
Project name - Coin Flip Sep 2018 */


body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 100%;
}

h1 {
	font-size: 2em;
	margin: .5em 0;
}

p, button {
	font-size: 1.3em;
}

p {
	margin: .6em 0;
}

#container {
	position: relative;
	width: 100%;
}

article {
	width: 85%;
	margin: 0 auto;
}

.push-center {
	text-align: center;
}

.push-left {
	text-align: left;
}

@media screen and (min-width:481px) and (max-width: 779px){

	#container {
		width: 80%;
		max-width: 400px;
		margin: 0 auto;
	}
}

@media screen and (min-width:780px) {

	button {
		font-size: 1.1em;
	}

	#container {
		width: 65%;
		max-width: 450px;
	}

	article {
		width: 75%;
		margin: 0 auto;
	}
}